# ========== 默认LLM ==========
MAIN_LLM__MODEL=deepseek-chat
MAIN_LLM__API_KEY=sk-xxx
MAIN_LLM__BASE_URL=https://api.deepseek.com/v1

MAIN_LLM__CONTEXT_LENGTH=131072
MAIN_LLM__MAX_OUTPUT=8192

MAIN_LLM__TEMPERATURE=0.5

# ======== 深度研究智能体 ========
# 最大并发研究数量
MAX_CONCURRENT_RESEARCH=3
# 最大迭代次数
MAX_ITERATIONS=5

# ======= 网络调研子智能体 =======
# 启动开关
WEB_RESEARCHER__ENABLE=false
# Tavily
WEB_RESEARCHER__TAVILY_API_KEY=tvly-dev-xxx
# 博查
WEB_RESEARCHER__BOCHA_API_KEY=

# 支持单独配置子智能体的LLM
# WEB_RESEARCHER__LLM__MODEL=deepseek-chat
# WEB_RESEARCHER__LLM__API_KEY=sk-xxx
# WEB_RESEARCHER__LLM__BASE_URL=https://api.deepseek.com/v1
# WEB_RESEARCHER__LLM__CONTEXT_LENGTH=131072
# WEB_RESEARCHER__LLM__MAX_OUTPUT=8192

# ====== 知识库调研子智能体 =======
# 启动开关
KB_RESEARCHER__ENABLE=true
KB_RESEARCHER__RAGFLOW_BASE_URL=http://localhost
KB_RESEARCHER__RAGFLOW_API_KEY=ragflow-xxx

# 支持单独配置子智能体的LLM
# KB_RESEARCHER__LLM__MODEL=deepseek-chat
# KB_RESEARCHER__LLM__API_KEY=sk-xxx
# KB_RESEARCHER__LLM__BASE_URL=https://api.deepseek.com/v1
# KB_RESEARCHER__LLM__CONTEXT_LENGTH=131072
# KB_RESEARCHER__LLM__MAX_OUTPUT=8192

# ============ 其他 ============
WORKING_DIR=./_workspace
